NET "hsync" LOC = P50 | IOSTANDARD = LVTTL;
NET "vsync" LOC = P51 | IOSTANDARD = LVTTL;
NET "red" LOC = P41 | IOSTANDARD = LVTTL;
NET "green" LOC = P40 | IOSTANDARD = LVTTL;
NET "blue" LOC = P35 | IOSTANDARD = LVTTL;